.divStacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100vw;
    height: auto;
    margin: 2rem 0 0 0;
    overflow: hidden;
}

.divStacks > h3 {
    margin-bottom: 4rem;
}

.divStacksCards {
    display: flex;
    justify-content: space-between;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 10s linear infinite;
    width: 100%;
}

.divStackCardsBack{
    display: flex;
    justify-content: space-between;
    animation: scrollReverse 10s linear infinite;
    -webkit-animation: scrollReverse 10s linear infinite;
    width: 100%;
}

/* @keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes scrollReverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
} */
