.sectionProfile {
    padding-top: 10rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headerPresentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
} 

.divNameTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}


.typingAnimation {
    width: 100%;
    height: auto;
}

.typingAnimation > h1{
    align-content: center;
    padding-right: .5rem;
    margin: 0;
    font-size: 3rem;
    height: 100%;
    display: inline-block;
    animation: typing 5s steps(40) infinite, cursor .5s step-start infinite alternate;
    overflow: hidden;
    border-right: .2rem solid var(--lightGrayishBlue);
    white-space: nowrap;
}

.typingAnimation > h2 {
    font-size: 2rem;
    color: var(--sunriseOrange);
    margin: 0;
}

.typingAnimation > h2 > span {
    color: var(--lightGrayishBlue);
}

.divButtonsProfile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.divLinksProfile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.profileButtons {
    text-decoration: none;
    color: var(--lightGrayishBlue);
    border: 1px solid var(--lightGrayishBlue);
    padding: .5rem 1.5rem;
    border-radius: 2rem;
    height: fit-content;
    background-color: var(--deepSeaBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    font-weight: 500;
    margin: .1rem;
}

.iconProfile {
    font-size: 1.5rem;
}

@keyframes typing {
    0% { width: 0; }
    40% {width: 100%; }
    100% {width: 100%;}
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@media (hover:hover) {
    .profileButtons:hover {
        transition: .1s;
        box-shadow: 0 0 20px 2px var(--deepSeaBlue);
        padding: .6rem 1.6rem;
        margin: 0
    }
}

.profileButtons:active {
    transition: .1s;
    box-shadow: 0 0 20px 2px var(--deepSeaBlue);
    padding: .6rem 1.6rem;
    margin: 0
}

@media (width < 768px) {
    .sectionProfile {
        flex-direction: column;
        padding-top: 5rem;
    }

    .headerPresentation {
        margin: 0;
        flex-direction: column-reverse;
    }

    .divNameTitle {
        align-items: center;
    }
    
    .typingAnimation {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .typingAnimation > h1 {
        font-size: 2.2rem;
        text-align: center;
    }
    
    .typingAnimation > h2 {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .profileButtons {
        font-weight: 400;
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
    }

    .iconProfile {
        font-size: 2rem;
    }

    .profileButtons:active {
        transition: .1s;
        box-shadow: 0 0 20px 2px var(--deepSeaBlue);
        padding: 1.1rem 1.6rem;
        margin: 0
    }
    
}

@media (width < 400px) {
    .typingAnimation {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .typingAnimation > h1 {
        font-size: 1.6rem;
        text-align: center;
    }
    
    .typingAnimation > h2 {
        margin: 0;
        font-size: 1.3rem;
        text-align: center;
    }
    
    .profileButtons {
        font-weight: 400;
        font-size: 1rem;
        padding: .8rem 1rem;
    }

}