.sectionProfile {
    padding-top: 10rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headerPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
} 

/* .headerPresentation > img {
    width: 2rem;
    margin-bottom: 2rem;

} */


.typingAnimation {
    width: 100%;
    height: 4rem;
}

.typingAnimation > h1{
    align-content: center;
    padding-right: .5rem;
    margin: 0;
    font-size: 2rem;
    height: 100%;
    display: inline-block;
    animation: typing 5s steps(40) infinite, cursor .5s step-start infinite alternate;
    overflow: hidden;
    border-right: .2rem solid var(--lightGrayishBlue);
    white-space: nowrap;
}

.typingAnimation > h2 {
    font-size: 1.5rem;
    margin: 2rem;
    padding-right: .5rem;
    text-align: center;
    color: var(--sunriseOrange);
}

.divAboutMe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
}

.divAboutMe > p {
    color: var(--lightSilverGray);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
}

@keyframes typing {
    0% { width: 0; }
    40% {width: 100%; }
    100% {width: 100%;}
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}