.sectionContainerContact {
    margin-bottom: 4rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divContactForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.divContactForm > img {
    max-width: 40%;
    height: auto;
}


@media (width < 768px) {
    .divContactForm {
        width: 100%;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .divContactForm > img {
        max-width: 70%;
    }
}
