.sectionNavbar {
    padding: 0;
    width: fit-content;
}

.navbarDiv {
    position: fixed;
    top: 0;
    width: 4rem;
    height: 100vh;
    background-color: var(--deepBlue);
    box-shadow: 0 2px 15px -10px hsla(0, 0%, 100%, .25);
    display: grid;
    grid-template-rows: 2fr 1fr;
    z-index: 999;
    box-shadow: -5px 0px 20px 0px var(--deepSeaBlue)
}

.ulIcons {
    padding: 2rem 0 2rem 0;
    list-style: none;
    height: auto;
}

.ulIconsUpper {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.ulIconsLower {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.icon  {
    width: 2rem;
    height: auto;
    padding: 1rem 0 1rem 0;
    color: var(--slateGray);
    line-height: 3px;
}

.icon:hover {
    color: var(--lightGrayishBlue)
}

.iconActive {
    color: var(--lightGrayishBlue)
}

.labels {
    position: fixed;
    top: 0;
    width: fit-content;
    height: 100vh;
    background-color: transparent;
    display: grid;
    grid-template-rows: 2fr 1fr;
    left: 4rem;
    z-index: 999;
}

.spanTextContainer {
    background-color: var(--deepGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid var(--slateGray);
    height: auto;
    position: relative;
    left: 10px;
}

.spanTextContainer:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%) rotate(180deg);
    border-style: solid;
    border-width: 5px 4px 5px 5px;
    border-color: transparent transparent transparent var(--slateGray);
}

.spanTextContainer:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%) rotate(180deg);
    border-style: solid;
    border-width: 6px 8px 6px 8px;
    border-color: transparent transparent transparent var(--deepIndigo);
}



.spanText {
    color: var(--lightGrayishBlue);
    position: relative;
    padding: 0 .5rem;
    font-size: .8rem;
}

.liSpanText {
    grid-row: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    justify-self: start;
    animation: spans .2s;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 1rem;
}

@keyframes spans {
    0% { width: 0; }
    100% {width: 100%;}
}