.liIcons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liActive {
    border-left:2px solid var(--coralPink);
    border-right: 2px solid transparent;
}

.aIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}