.stackSection {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divBigStacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.h5Skill {
    margin: 0
}

.logos {
    width: 4rem;
}