:root {
  font-family: Segoe WPC, Segoe UI, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sunriseOrange: #ECB365;
  --lightGrayishBlue: #E1E4E8;
  --mistyGreen: #CAD1C3;
  --slateGray: #948e99;
  --deepSeaBlue: #064663;
  --deepIndigo: #041C32;
  --deepGreen: #041320;
  --deepBlue: #040B12;


  --slideTransformRight: 0;
  --slideTransformLeft: 0;
  --transition: all 2s linear;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--deepBlue), var(--deepGreen), var(--deepIndigo));
  color: var(--lightGrayishBlue);
  overflow-x: hidden;
}


* {
  font-weight: 500;
  letter-spacing: 1px;
}

section {
  padding: 2.5rem 4rem 2.5rem 8rem;
}

h5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 3rem 0;
}

.borderRadiusCards {
  border-radius: .8rem;
}