:root {
  font-family: Segoe WPC, Segoe UI, sans-serif;
  line-height: 1.4em;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkBluishGray: #1F2428;
  --darkSlateGray: #24292E;
  --charcoalGray: #1B1F23;
  --slateGray: #69727B;
  --lightGrayishBlue: #E1E4E8;
  --lightSilverGray: #E0E3E7;
  --coralPink: #F9826C;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--darkSlateGray);
  overflow-x: hidden;
  color: var(--lightGrayishBlue);
}


* {
  font-weight: 500;
  letter-spacing: 1px;
}